
  <body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
      <div class="nk-main">
        <div class="nk-wrap nk-wrap-nosidebar">
          <div class="nk-content">
            <div class="nk-block nk-block-middle wide-xs mx-auto">
              <div class="nk-block-content nk-error-ld text-center">
                <h1 class="nk-error-head">500</h1>
                <h3 class="nk-error-title">Internel server Error</h3>
                <p class="nk-error-text">
                  We are very sorry for inconvenience. It looks like some how
                  our server did not receive a timely response.
                </p>
                <a href="/admin/dashboard" class="btn btn-lg btn-primary mt-2"
                  >Back To Home</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nk-sticky-toolbar">
      <li class="demo-layout">
        <a
          class="toggle tipinfo"
          data-target="demoML"
          href="#"
          title="Main Demo Preview"
          ><em class="icon ni ni-dashlite"></em
        ></a>
      </li>
      <li class="demo-thumb">
        <a
          class="toggle tipinfo"
          data-target="demoUC"
          href="#"
          title="Use Case Concept"
          ><em class="icon ni ni-menu-squared"></em
        ></a>
      </li>
      <li class="demo-settings">
        <a
          class="toggle tipinfo"
          data-target="settingPanel"
          href="#"
          title="Demo Settings"
          ><em class="icon ni ni-setting-alt"></em
        ></a>
      </li>
      <li class="demo-purchase">
        <a
          class="tipinfo"
          target="_blank"
          href="https://1.envato.market/e0y3g"
          title="Purchase"
          ><em class="icon ni ni-cart"></em
        ></a>
      </li>
    </ul>

    <script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
    <script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
    <script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>

    <!-- Mirrored from dashlite.net/demo2/pages/errors/504-classic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:43 GMT -->
  </body>
</html>
