<!DOCTYPE html>
<html lang="zxx" class="js">
  <!-- Mirrored from dashlite.net/demo2/pages/errors/504-classic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:43 GMT -->
  <!-- Added by HTTrack --><meta
    http-equiv="content-type"
    content="text/html;charset=UTF-8"
  /><!-- /Added by HTTrack -->
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers."
    />
    <link rel="shortcut icon" href="/static/admin/images/favicon.png" />
    <title>Error 504 | DashLite Admin Template</title>
    <link rel="stylesheet" href="/static/admin/assets/css/dashlitee5ca.css?ver=3.2.3" />
    <link
      id="skin-default"
      rel="stylesheet"
      href="/static/admin/assets/css/themee5ca.css?ver=3.2.3"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-91615293-4");
    </script>
  </head>
  <body class="nk-body bg-white npc-default pg-error">
    <div class="nk-app-root">
      <div class="nk-main">
        <div class="nk-wrap nk-wrap-nosidebar">
          <div class="nk-content">
            <div class="nk-block nk-block-middle wide-xs mx-auto">
              <div class="nk-block-content nk-error-ld text-center">
                <h1 class="nk-error-head">500</h1>
                <h3 class="nk-error-title">Internel server Error</h3>
                <p class="nk-error-text">
                  We are very sorry for inconvenience. It looks like some how
                  our server did not receive a timely response.
                </p>
                <a href="/admin/dashboard" class="btn btn-lg btn-primary mt-2"
                  >Back To Home</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="nk-sticky-toolbar">
      <li class="demo-layout">
        <a
          class="toggle tipinfo"
          data-target="demoML"
          href="#"
          title="Main Demo Preview"
          ><em class="icon ni ni-dashlite"></em
        ></a>
      </li>
      <li class="demo-thumb">
        <a
          class="toggle tipinfo"
          data-target="demoUC"
          href="#"
          title="Use Case Concept"
          ><em class="icon ni ni-menu-squared"></em
        ></a>
      </li>
      <li class="demo-settings">
        <a
          class="toggle tipinfo"
          data-target="settingPanel"
          href="#"
          title="Demo Settings"
          ><em class="icon ni ni-setting-alt"></em
        ></a>
      </li>
      <li class="demo-purchase">
        <a
          class="tipinfo"
          target="_blank"
          href="https://1.envato.market/e0y3g"
          title="Purchase"
          ><em class="icon ni ni-cart"></em
        ></a>
      </li>
    </ul>

    <script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
    <script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
    <script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>

    <!-- Mirrored from dashlite.net/demo2/pages/errors/504-classic.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:43 GMT -->
  </body>
</html>
