<%- include("../layouts/adminHeader.ejs")%> <%-
include("../layouts/adminSideBar.ejs")%>
<div class="nk-content">
  <div class="container-fluid">
    <div class="nk-content-inner">
      <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
          <div class="nk-block-between">
            <div class="nk-block-head-content">
              <h3 class="nk-block-title page-title">Products</h3>
            </div>
            <div class="nk-block-head-content">
              <div class="toggle-wrap nk-block-tools-toggle">
                <a
                  href="#"
                  class="btn btn-icon btn-trigger toggle-expand me-n1"
                  data-target="pageMenu"
                  ><em class="icon ni ni-more-v"></em
                ></a>
                <div class="toggle-expand-content" data-content="pageMenu">
                  <ul class="nk-block-tools g-3">
                    <li>
                      <div class="form-control-wrap">
                        <div class="form-icon form-icon-right">
                          <em class="icon ni ni-search"></em>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          id="default-04"
                          placeholder="Quick search by id"
                        />
                      </div>
                    </li>
                    <li>
                      <div class="drodown">
                        <a
                          href="#"
                          class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                          data-bs-toggle="dropdown"
                          >Status</a
                        >
                        <div class="dropdown-menu dropdown-menu-end">
                          <ul class="link-list-opt no-bdr">
                            <li>
                              <a href="#"><span>New Items</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Featured</span></a>
                            </li>
                            <li>
                              <a href="#"><span>Out of Stock</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                    <li class="nk-block-tools-opt">
                      <a
                        href="#"
                        data-target="addProduct"
                        class="toggle btn btn-icon btn-primary d-md-none"
                        ><em class="icon ni ni-plus"></em></a
                      ><a
                        href="#"
                        data-target="addProduct"
                        class="toggle btn btn-primary d-none d-md-inline-flex"
                        ><em class="icon ni ni-plus"></em
                        ><span>Add Product</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-block">
          <div class="nk-tb-list is-separate mb-3">
            <div class="nk-tb-item nk-tb-head">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="pid"
                  /><label class="custom-control-label" for="pid"></label>
                </div>
              </div>
              <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
              <div class="nk-tb-col"><span>SKU</span></div>
              <div class="nk-tb-col"><span>Price</span></div>
              <div class="nk-tb-col"><span>Stock</span></div>
              <div class="nk-tb-col tb-col-md">
                <span>Category</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <em class="tb-asterisk icon ni ni-star-round"></em>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-edit"></em
                              ><span>Edit Selected</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-trash"></em
                              ><span>Remove Selected</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-bar-c"></em
                              ><span>Update Stock</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-invest"></em
                              ><span>Update Price</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="nk-tb-item">
              <div class="nk-tb-col nk-tb-col-check">
                <div
                  class="custom-control custom-control-sm custom-checkbox notext"
                >
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="pid10"
                  /><label class="custom-control-label" for="pid10"></label>
                </div>
              </div>
              <div class="nk-tb-col tb-col-sm">
                <span class="tb-product"
                  ><img
                    src="/static/admin/images/product/i.png"
                    alt=""
                    class="thumb"
                  /><span class="title">Pool Party Drink Holder</span></span
                >
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub">UY3757</span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-lead">$ 9.49</span>
              </div>
              <div class="nk-tb-col">
                <span class="tb-sub">73</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <span class="tb-sub">Men, Holder</span>
              </div>
              <div class="nk-tb-col tb-col-md">
                <div class="asterisk tb-asterisk">
                  <a href="#"
                    ><em class="asterisk-off icon ni ni-star"></em
                    ><em class="asterisk-on icon ni ni-star-fill"></em
                  ></a>
                </div>
              </div>
              <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1 my-n1">
                  <li class="me-n1">
                    <div class="dropdown">
                      <a
                        href="#"
                        class="dropdown-toggle btn btn-icon btn-trigger"
                        data-bs-toggle="dropdown"
                        ><em class="icon ni ni-more-h"></em
                      ></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-edit"></em
                              ><span>Edit Product</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-eye"></em
                              ><span>View Product</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-activity-round"></em
                              ><span>Product Orders</span></a
                            >
                          </li>
                          <li>
                            <a href="#"
                              ><em class="icon ni ni-trash"></em
                              ><span>Remove Product</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-inner">
              <div class="nk-block-between-md g-3">
                <div class="g">
                  <ul
                    class="pagination justify-content-center justify-content-md-start"
                  >
                    <li class="page-item">
                      <a class="page-link" href="#"
                        ><em class="icon ni ni-chevrons-left"></em
                      ></a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <span class="page-link"
                        ><em class="icon ni ni-more-h"></em
                      ></span>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">6</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">7</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#"
                        ><em class="icon ni ni-chevrons-right"></em
                      ></a>
                    </li>
                  </ul>
                </div>
                <div class="g">
                  <div
                    class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3"
                  >
                    <div>Page</div>
                    <div>
                      <select
                        class="form-select js-select2"
                        data-search="on"
                        data-dropdown="xs center"
                      >
                        <option value="page-1">1</option>
                        <option value="page-2">2</option>
                        <option value="page-4">4</option>
                        <option value="page-5">5</option>
                        <option value="page-6">6</option>
                        <option value="page-7">7</option>
                        <option value="page-8">8</option>
                        <option value="page-9">9</option>
                        <option value="page-10">10</option>
                        <option value="page-11">11</option>
                        <option value="page-12">12</option>
                        <option value="page-13">13</option>
                        <option value="page-14">14</option>
                        <option value="page-15">15</option>
                        <option value="page-16">16</option>
                        <option value="page-17">17</option>
                        <option value="page-18">18</option>
                        <option value="page-19">19</option>
                        <option value="page-20">20</option>
                      </select>
                    </div>
                    <div>OF 102</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="nk-add-product toggle-slide toggle-slide-right"
          data-content="addProduct"
          data-toggle-screen="any"
          data-toggle-overlay="true"
          data-toggle-body="true"
          data-simplebar
        >
          <div class="nk-block-head">
            <div class="nk-block-head-content">
              <h5 class="nk-block-title">New Product</h5>
              <div class="nk-block-des">
                <p>Add information and add new product.</p>
              </div>
            </div>
          </div>
          <form
            action="/admin/addproducts"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="nk-block">
              <div class="row g-3">
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="product-title"
                      >Product name</label
                    >
                    <div class="form-control-wrap">
                      <input
                        name="productname"
                        type="text"
                        required
                        class="form-control"
                        id="product-title"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-mb-6">
                  <div class="form-group">
                    <label class="form-label" for="frameshape"
                      >Frame Shape</label
                    >
                    <div class="form-control-wrap">
                      <input
                        name="frameshape"
                        type="text"
                        required
                        class="form-control"
                        id="frameshape"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label class="form-label" for="category">Category</label>
                    <div class="form-control-wrap">
                      <input
                        name="category"
                        type="text"
                        required
                        class="form-control"
                        id="category"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="brand">Brand</label>
                    <div class "form-control-wrap">
                    <input
                      name="brand"
                      type="text"
                      required
                      class="form-control"
                      id="brand"
                    />
                  </div>
                </div>
              </div>
              <div class="col-mb-6">
                <div class="form-group">
                  <label class="form-label" for="stock">Stock</label>
                  <div class="form-control-wrap">
                    <input
                      type="number"
                      name="stock"
                      required
                      class="form-control"
                      id="stock"
                    />
                  </div>
                </div>
              </div>
              <div class="col-mb-6">
                <div class="form-group">
                  <label class="form-label" for="price">Price</label>
                  <div class="form-control-wrap">
                    <input
                      name="price"
                      type="number"
                      required
                      class="form-control"
                      id="price"
                    />
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="description"
                    >Description</label
                  >
                  <div class="form-control-wrap">
                    <textarea
                      class="form-control"
                      id="description"
                      required
                      name="description"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label class="form-label" for="images">Upload Images</label>
                  <div class="form-control-wrap">
                    <input
                      type="file"
                      class="form-control"
                      id="images"
                      name="images"
                      multiple
                    />
                  </div>
                </div>
              </div>
              <!-- <div class="col-12">
                  <div class="upload-zone small bg-lighter my-2">
                    <div class="dz-message">
                      <span class="dz-message-text">Drag and drop file</span>
                    </div>
                  </div>
                </div> -->
              <div class="col-12">
                <button type="submit" class="btn btn-primary">
                  <em class="icon ni ni-plus"></em>
                  <span>Add New</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nk-footer">
  <div class="container-fluid">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright">
        &copy; 2023 framecart
        <a href="https://softnio.com/" target="_blank">Softnio</a>
      </div>
      <div class="nk-footer-links">
        <ul class="nav nav-sm">
          <li class="nav-item dropup">
            <a
              href="#"
              class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base"
              data-bs-toggle="dropdown"
              data-offset="0,10"
              ><span>English</span></a
            >
            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
              <ul class="language-list">
                <li>
                  <a href="#" class="language-item"
                    ><span class="language-name">English</span></a
                  >
                </li>
                <li>
                  <a href="#" class="language-item"
                    ><span class="language-name">Español</span></a
                  >
                </li>
                <li>
                  <a href="#" class="language-item"
                    ><span class="language-name">Français</span></a
                  >
                </li>
                <li>
                  <a href="#" class="language-item"
                    ><span class="language-name">Türkçe</span></a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a data-bs-toggle="modal" href="#region" class="nav-link"
              ><em class="icon ni ni-globe"></em
              ><span class="ms-1">Select Region</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="region">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-bs-dismiss="modal"
        ><em class="icon ni ni-cross-sm"></em
      ></a>
      <div class="modal-body modal-body-md">
        <h5 class="title mb-4">Select Your Country</h5>
        <div class="nk-country-region">
          <ul class="country-list text-center gy-2">
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/arg.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Argentina</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/aus.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Australia</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/bangladesh.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Bangladesh</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/canada.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name"
                  >Canada <small>(English)</small></span
                ></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/china.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Centrafricaine</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/china.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">China</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/french.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">France</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/germany.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Germany</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/iran.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Iran</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/italy.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Italy</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/mexico.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">México</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/philipine.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Philippines</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/portugal.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Portugal</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/s-africa.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">South Africa</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/spanish.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Spain</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/switzerland.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">Switzerland</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/uk.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">United Kingdom</span></a
              >
            </li>
            <li>
              <a href="#" class="country-item"
                ><img
                  src="/static/admin/images/flags/english.png"
                  alt=""
                  class="country-flag"
                /><span class="country-name">United State</span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<ul class="nk-sticky-toolbar">
  <li class="demo-layout">
    <a
      class="toggle tipinfo"
      data-target="demoML"
      href="#"
      title="Main Demo Preview"
      ><em class="icon ni ni-dashlite"></em
    ></a>
  </li>
  <li class="demo-thumb">
    <a
      class="toggle tipinfo"
      data-target="demoUC"
      href="#"
      title="Use Case Concept"
      ><em class="icon ni ni-menu-squared"></em
    ></a>
  </li>
  <li class="demo-settings">
    <a
      class="toggle tipinfo"
      data-target="settingPanel"
      href="#"
      title="Demo Settings"
      ><em class="icon ni ni-setting-alt"></em
    ></a>
  </li>
  <li class="demo-purchase">
    <a
      class="tipinfo"
      target="_blank"
      href="https://1.envato.market/e0y3g"
      title="Purchase"
      ><em class="icon ni ni-cart"></em
    ></a>
  </li>
</ul>
<div
  class="nk-demo-panel nk-demo-panel-2x toggle-slide toggle-slide-right"
  data-content="demoML"
  data-toggle-overlay="true"
  data-toggle-body="true"
  data-toggle-screen="any"
>
  <div class="nk-demo-head">
    <h6 class="mb-0">Switch Demo Layout</h6>
    <a
      class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2"
      data-target="demoML"
      href="#"
      ><em class="icon ni ni-cross"></em
    ></a>
  </div>
  <div class="nk-demo-list" data-simplebar>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo1/index.html"
        ><div class="nk-demo-image bg-blue">
          <img
            class="bg-purple"
            src="/static/admin//static/admin/images/landing/layout-1d.jpg"
            srcset="https://dashlite.net/images/landing/layout-1d2x.jpg 2x"
            alt="Demo Layout 1"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 1</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="/static/admin/index.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/layout-2d.jpg"
            srcset="https://dashlite.net/images/landing/layout-2d2x.jpg 2x"
            alt="Demo Layout 2"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 2</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/index.html"
        ><div class="nk-demo-image bg-success">
          <img
            src="/static/admin//static/admin/images/landing/layout-3d.jpg"
            srcset="https://dashlite.net/images/landing/layout-3d2x.jpg 2x"
            alt="Demo Layout 3"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 3</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo4/index.html"
        ><div class="nk-demo-image bg-indigo">
          <img
            src="/static/admin//static/admin/images/landing/layout-4d.jpg"
            srcset="https://dashlite.net/images/landing/layout-4d2x.jpg 2x"
            alt="Demo Layout 4"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 4</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo5/index.html"
        ><div class="nk-demo-image bg-orange">
          <img
            src="/static/admin//static/admin/images/landing/layout-5d.jpg"
            srcset="https://dashlite.net/images/landing/layout-5d2x.jpg 2x"
            alt="Demo Layout 5"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 5</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo6/index.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/layout-6d.jpg"
            srcset="https://dashlite.net/images/landing/layout-6d2x.jpg 2x"
            alt="Demo Layout 6"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 6</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo7/index.html"
        ><div class="nk-demo-image bg-teal">
          <img
            src="/static/admin//static/admin/images/landing/layout-7d.jpg"
            srcset="https://dashlite.net/images/landing/layout-7d2x.jpg 2x"
            alt="Demo Layout 7"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 7</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo8/index.html"
        ><div class="nk-demo-image bg-azure">
          <img
            src="/static/admin//static/admin/images/landing/layout-8d.jpg"
            srcset="https://dashlite.net/images/landing/layout-8d2x.jpg 2x"
            alt="Demo Layout 8"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 8</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo9/index.html"
        ><div class="nk-demo-image bg-pink">
          <img
            src="/static/admin//static/admin/images/landing/layout-9d.jpg"
            srcset="https://dashlite.net/images/landing/layout-9d2x.jpg 2x"
            alt="Demo Layout 9"
          />
        </div>
        <span class="nk-demo-title"><strong>Demo Layout 9</strong></span></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/landing/index.html"
        ><div class="nk-demo-image bg-red">
          <img
            src="/static/admin//static/admin/images/landing/main-landing.jpg"
            srcset="https://dashlite.net/images/landing/main-landing2x.jpg 2x"
            alt="Landing Page"
          />
        </div>
        <span class="nk-demo-title"
          ><strong>Landing Page</strong>
          <span class="badge badge-danger ml-1">Free</span></span
        ></a
      >
    </div>
  </div>
</div>
<div
  class="nk-demo-panel nk-demo-panel-2x toggle-slide toggle-slide-right"
  data-content="demoUC"
  data-toggle-overlay="true"
  data-toggle-body="true"
  data-toggle-screen="any"
>
  <div class="nk-demo-head">
    <h6 class="mb-0">Use Case Concept</h6>
    <a
      class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2"
      data-target="demoUC"
      href="#"
      ><em class="icon ni ni-cross"></em
    ></a>
  </div>
  <div class="nk-demo-list" data-simplebar>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo9/copywriter/index.html"
        ><div class="nk-demo-image bg-indigo">
          <img
            src="/static/admin//static/admin/images/landing/demo-ai-copywriter.jpg"
            srcset="
              https://dashlite.net/images/landing/demo-ai-copywriter2x.jpg 2x
            "
            alt="ai-copywriter"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo9</em><br /><strong
            >Ai Copywriter Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo7/pharmacy/index.html"
        ><div class="nk-demo-image bg-warning">
          <img
            src="/static/admin//static/admin/images/landing/demo-pharmacy.jpg"
            srcset="https://dashlite.net/images/landing/demo-pharmacy2x.jpg 2x"
            alt="pharmacy"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo7</em><br /><strong
            >Pharmacy Management Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo5/loan/index.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/demo-loan.jpg"
            srcset="https://dashlite.net/images/landing/demo-loan2x.jpg 2x"
            alt="loan"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo5</em><br /><strong
            >Loan Management Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="index.html"
        ><div class="nk-demo-image bg-dark">
          <img
            src="/static/admin//static/admin/images/landing/demo-ecommerce.jpg"
            srcset="https://dashlite.net/images/landing/demo-ecommerce2x.jpg 2x"
            alt="Ecommerce"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo2</em><br /><strong
            >E-Commerce Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="/static/admin/lms/index.html"
        ><div class="nk-demo-image bg-danger">
          <img
            src="/static/admin//static/admin/images/landing/demo-lms.jpg"
            srcset="https://dashlite.net/images/landing/demo-lms2x.jpg 2x"
            alt="LMS"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo2</em><br /><strong
            >LMS / Learning Management System</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo1/crm/index.html"
        ><div class="nk-demo-image bg-info">
          <img
            src="/static/admin//static/admin/images/landing/demo-crm.jpg"
            srcset="https://dashlite.net/images/landing/demo-crm2x.jpg 2x"
            alt="CRM / Customer Relationship"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo1</em><br /><strong
            >CRM / Customer Relationship Management</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo7/hospital/index.html"
        ><div class="nk-demo-image bg-indigo">
          <img
            src="/static/admin//static/admin/images/landing/demo-hospital.jpg"
            srcset="https://dashlite.net/images/landing/demo-hospital2x.jpg 2x"
            alt="Hospital Managemen"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo7</em><br /><strong
            >Hospital Management</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo1/hotel/index.html"
        ><div class="nk-demo-image bg-pink">
          <img
            src="/static/admin//static/admin/images/landing/demo-hotel.jpg"
            srcset="https://dashlite.net/images/landing/demo-hotel2x.jpg 2x"
            alt="Hotel Managemen"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo1</em><br /><strong
            >Hotel Management</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/cms/index.html"
        ><div class="nk-demo-image bg-dark">
          <img
            src="/static/admin//static/admin/images/landing/demo-cms.jpg"
            srcset="https://dashlite.net/images/landing/demo-cms2x.jpg 2x"
            alt="cms"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo3</em><br /><strong
            >CMS Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo5/crypto/index.html"
        ><div class="nk-demo-image bg-warning">
          <img
            src="/static/admin//static/admin/images/landing/demo-buysell.jpg"
            srcset="https://dashlite.net/images/landing/demo-buysell2x.jpg 2x"
            alt="Crypto BuySell / Wallet"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo5</em><br /><strong
            >Crypto BuySell Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo6/invest/index.html"
        ><div class="nk-demo-image bg-indigo">
          <img
            src="/static/admin//static/admin/images/landing/demo-invest.jpg"
            srcset="https://dashlite.net/images/landing/demo-invest2x.jpg 2x"
            alt="HYIP / Investment"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo6</em><br /><strong
            >HYIP / Investment Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/apps/file-manager.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/demo-file-manager.jpg"
            srcset="
              https://dashlite.net/images/landing/demo-file-manager2x.jpg 2x
            "
            alt="File Manager"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo3</em><br /><strong
            >Apps - File Manager</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo4/subscription/index.html"
        ><div class="nk-demo-image bg-primary">
          <img
            src="/static/admin//static/admin/images/landing/demo-subscription.jpg"
            srcset="
              https://dashlite.net/images/landing/demo-subscription2x.jpg 2x
            "
            alt="SAAS / Subscription"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo4</em><br /><strong
            >SAAS / Subscription Panel</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/covid/index.html"
        ><div class="nk-demo-image bg-danger">
          <img
            src="/static/admin//static/admin/images/landing/demo-covid19.jpg"
            srcset="https://dashlite.net/images/landing/demo-covid192x.jpg 2x"
            alt="Covid Situation"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Covid</em><br /><strong
            >Coronavirus Situation</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/apps/messages.html"
        ><div class="nk-demo-image bg-success">
          <img
            src="/static/admin//static/admin/images/landing/demo-messages.jpg"
            srcset="https://dashlite.net/images/landing/demo-messages2x.jpg 2x"
            alt="Messages"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo3</em><br /><strong
            >Apps - Messages</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/apps/mailbox.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/demo-inbox.jpg"
            srcset="https://dashlite.net/images/landing/demo-inbox2x.jpg 2x"
            alt="Inbox"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo3</em><br /><strong
            >Apps - Mailbox</strong
          ></span
        ></a
      >
    </div>
    <div class="nk-demo-item">
      <a href="https://dashlite.net/demo3/apps/chats.html"
        ><div class="nk-demo-image bg-purple">
          <img
            src="/static/admin//static/admin/images/landing/demo-chats.jpg"
            srcset="https://dashlite.net/images/landing/demo-chats2x.jpg 2x"
            alt="Chats / Messenger"
          />
        </div>
        <span class="nk-demo-title"
          ><em class="text-primary">Demo3</em><br /><strong
            >Apps - Chats</strong
          ></span
        ></a
      >
    </div>
  </div>
</div>
<div
  class="nk-demo-panel toggle-slide toggle-slide-right"
  data-content="settingPanel"
  data-toggle-overlay="true"
  data-toggle-body="true"
  data-toggle-screen="any"
>
  <div class="nk-demo-head">
    <h6 class="mb-0">Preview Settings</h6>
    <a
      class="nk-demo-close toggle btn btn-icon btn-trigger revarse mr-n2"
      data-target="settingPanel"
      href="#"
      ><em class="icon ni ni-cross"></em
    ></a>
  </div>
  <div class="nk-opt-panel" data-simplebar>
    <div class="nk-opt-set">
      <div class="nk-opt-set-title">Direction Change</div>
      <div class="nk-opt-list col-2x">
        <div
          class="nk-opt-item only-text active"
          data-key="dir"
          data-update="ltr"
        >
          <span class="nk-opt-item-bg"
            ><span class="nk-opt-item-name">LTR Mode</span></span
          >
        </div>
        <div class="nk-opt-item only-text" data-key="dir" data-update="rtl">
          <span class="nk-opt-item-bg"
            ><span class="nk-opt-item-name">RTL Mode</span></span
          >
        </div>
      </div>
    </div>
    <div class="nk-opt-set">
      <div class="nk-opt-set-title">Main UI Style</div>
      <div class="nk-opt-list col-2x">
        <div
          class="nk-opt-item only-text active"
          data-key="style"
          data-update="ui-default"
        >
          <span class="nk-opt-item-bg"
            ><span class="nk-opt-item-name">Default</span></span
          >
        </div>
        <div
          class="nk-opt-item only-text"
          data-key="style"
          data-update="ui-bordered"
        >
          <span class="nk-opt-item-bg"
            ><span class="nk-opt-item-name">Bordered</span></span
          >
        </div>
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-aside">
      <div class="nk-opt-set-title">Sidebar Style</div>
      <div class="nk-opt-list col-4x">
        <div class="nk-opt-item" data-key="aside" data-update="is-light">
          <span class="nk-opt-item-bg is-light"
            ><span class="bg-lighter"></span></span
          ><span class="nk-opt-item-name">White</span>
        </div>
        <div class="nk-opt-item" data-key="aside" data-update="is-default">
          <span class="nk-opt-item-bg is-light"
            ><span class="bg-light"></span></span
          ><span class="nk-opt-item-name">Light</span>
        </div>
        <div class="nk-opt-item active" data-key="aside" data-update="is-dark">
          <span class="nk-opt-item-bg"><span class="bg-dark"></span></span
          ><span class="nk-opt-item-name">Dark</span>
        </div>
        <div class="nk-opt-item" data-key="aside" data-update="is-theme">
          <span class="nk-opt-item-bg"><span class="bg-theme"></span></span
          ><span class="nk-opt-item-name">Theme</span>
        </div>
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-header">
      <div class="nk-opt-set-title">Header Style</div>
      <div class="nk-opt-list col-4x">
        <div
          class="nk-opt-item active"
          data-key="header"
          data-update="is-light"
        >
          <span class="nk-opt-item-bg is-light"
            ><span class="bg-lighter"></span></span
          ><span class="nk-opt-item-name">White</span>
        </div>
        <div class="nk-opt-item" data-key="header" data-update="is-default">
          <span class="nk-opt-item-bg is-light"
            ><span class="bg-light"></span></span
          ><span class="nk-opt-item-name">Light</span>
        </div>
        <div class="nk-opt-item" data-key="header" data-update="is-dark">
          <span class="nk-opt-item-bg"><span class="bg-dark"></span></span
          ><span class="nk-opt-item-name">Dark</span>
        </div>
        <div class="nk-opt-item" data-key="header" data-update="is-theme">
          <span class="nk-opt-item-bg"><span class="bg-theme"></span></span
          ><span class="nk-opt-item-name">Theme</span>
        </div>
      </div>
    </div>
    <div class="nk-opt-set nk-opt-set-skin">
      <div class="nk-opt-set-title">Primary Skin</div>
      <div class="nk-opt-list">
        <div class="nk-opt-item active" data-key="skin" data-update="default">
          <span class="nk-opt-item-bg"><span class="skin-default"></span></span
          ><span class="nk-opt-item-name">Default</span>
        </div>
        <div class="nk-opt-item" data-key="skin" data-update="blue">
          <span class="nk-opt-item-bg"><span class="skin-blue"></span></span
          ><span class="nk-opt-item-name">Blue</span>
        </div>
        <div class="nk-opt-item" data-key="skin" data-update="egyptian">
          <span class="nk-opt-item-bg"><span class="skin-egyptian"></span></span
          ><span class="nk-opt-item-name">Egyptian</span>
        </div>
        <div class="nk-opt-item" data-key="skin" data-update="bluelite">
          <span class="nk-opt-item-bg"><span class="skin-bluelite"></span></span
          ><span class="nk-opt-item-name">Blue Light</span>
        </div>
        <div class="nk-opt-item" data-key="skin" data-update="green">
          <span class="nk-opt-item-bg"><span class="skin-green"></span></span
          ><span class="nk-opt-item-name">Green</span>
        </div>
        <div class="nk-opt-item" data-key="skin" data-update="red">
          <span class="nk-opt-item-bg"><span class="skin-red"></span></span
          ><span class="nk-opt-item-name">Red</span>
        </div>
      </div>
    </div>
    <div class="nk-opt-set">
      <div class="nk-opt-set-title">Skin Mode</div>
      <div class="nk-opt-list col-2x">
        <div
          class="nk-opt-item active"
          data-key="mode"
          data-update="light-mode"
        >
          <span class="nk-opt-item-bg is-light"
            ><span class="theme-light"></span></span
          ><span class="nk-opt-item-name">Light Skin</span>
        </div>
        <div class="nk-opt-item" data-key="mode" data-update="dark-mode">
          <span class="nk-opt-item-bg"><span class="theme-dark"></span></span
          ><span class="nk-opt-item-name">Dark Skin</span>
        </div>
      </div>
    </div>
    <div class="nk-opt-reset">
      <a href="#" class="reset-opt-setting">Reset Setting</a>
    </div>
  </div>
</div>
<div class="pmo-lv pmo-dark">
  <a class="pmo-close" href="#"><em class="ni ni-cross"></em></a
  ><a
    class="pmo-wrap"
    target="_blank"
    href="https://softnio.com/get-early-access/"
    ><div class="pmo-text text-white">
      Looking for functional script for Investment Platform? Check out
      <em class="ni ni-arrow-long-right"></em></div
  ></a>
</div>
<a
  class="pmo-st pmo-dark"
  target="_blank"
  href="https://softnio.com/get-early-access/"
  ><div class="pmo-st-img">
    <img
      src="/static/admin//static/admin/images/landing/promo-investorm.png"
      alt="Investorm"
    />
  </div>
  <div class="pmo-st-text">
    Looking for Advanced <br />
    Investment Platform?
  </div></a
>
<script src="/static/admin/assets/js/bundlee5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/scriptse5ca.js?ver=3.2.3"></script>
<script src="/static/admin/assets/js/demo-settingse5ca.js?ver=3.2.3"></script>
<!-- Mirrored from dashlite.net/demo2/ecommerce/products.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:33:03 GMT -->
