<!DOCTYPE html>
<html lang="zxx" class="js">
  <!-- Mirrored from dashlite.net/demo2/ecommerce/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Oct 2023 14:32:17 GMT -->
  <!-- Added by HTTrack --><meta
    http-equiv="content-type"
    content="text/html;charset=UTF-8"
  /><!-- /Added by HTTrack -->
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Softnio" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers."
    />
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <title>e-Commerce Home | DashLite Admin Template</title>
    <link rel="stylesheet" href="/static/admin/assets/css/dashlitee5ca.css?ver=3.2.3" />
    <link
      id="skin-default"
      rel="stylesheet"
      href="/static/admin//assets/css/themee5ca.css?ver=3.2.3"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-91615293-4");
    </script>
  </head>