<body class="nk-body bg-lighter npc-general has-sidebar">
  <div class="nk-app-root">
    <div class="nk-main">
      <div
        class="nk-sidebar nk-sidebar-fixed is-light"
        data-content="sidebarMenu"
      >
        <div class="nk-sidebar-element nk-sidebar-head">
          <div class="nk-sidebar-brand">
            <a href="/admin/dashboard" class="logo-link nk-sidebar-logo"
              ><img
                class="logo-light logo-img"
                src="/static/admin/images/logo.png"
                srcset="/demo2/images/logo2x.png 2x"
                alt="logo" /><img
                class="logo-dark logo-img"
                src="/static/admin/images/logo-dark2x.png"
                srcset=""
                alt="logo-dark" /><img
                class="logo-small logo-img logo-img-small"
                src="/static/admin/images/logo-small.png"
                srcset=""
                alt="logo-small"
            /></a>
          </div>
          <div class="nk-menu-trigger me-n2">
            <a
              href="#"
              class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
              data-target="sidebarMenu"
              ><em class="icon ni ni-arrow-left"></em></a
            ><a
              href="#"
              class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
              data-target="sidebarMenu"
              ><em class="icon ni ni-menu"></em
            ></a>
          </div>
        </div>
        <div class="nk-sidebar-element">
          <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
              <ul class="nk-menu">
                <li class="nk-menu-item">
                  <a href="dashboard" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-dashboard-fill"></em></span
                    ><span class="nk-menu-text">Dashboard</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="salesreport" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-activity-round-fill"></em></span
                    ><span class="nk-menu-text">Sales</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="orders" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-bag-fill"></em></span
                    ><span class="nk-menu-text">Orders</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="products" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-package-fill"></em></span
                    ><span class="nk-menu-text">Products</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="customers" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-users-fill"></em></span
                    ><span class="nk-menu-text">Customers</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="category" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-grid-fill-c"></em></span
                    ><span class="nk-menu-text">category</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="offers" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-offer-fill"></em></span
                    ><span class="nk-menu-text">Offers</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="banners" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                    
                      ><em class="icon ni ni-layout-fill1"></em></span
                    ><span class="nk-menu-text">Banners</span></a
                  >
                </li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-wrap">
        <div class="nk-header nk-header-fixed is-light">
          <div class="container-fluid">
            <div class="nk-header-wrap">
              <div class="nk-menu-trigger d-xl-none ms-n1">
                <a
                  href="#"
                  class="nk-nav-toggle nk-quick-nav-icon"
                  data-target="sidebarMenu"
                  ><em class="icon ni ni-menu"></em
                ></a>
              </div>
              <div class="nk-header-brand d-xl-none">
                <a href="/static/index.html" class="logo-link"
                  ><img
                    class="logo-light logo-img"
                    src="/static/admin/images/logo.png"
                    srcset=""
                    alt="logo" /><img
                    class="logo-dark logo-img"
                    src="/static/admin/images/logo-dark.png"
                    srcset=""
                    alt="logo-dark"
                /></a>
              </div>
             
              <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                  <li
                    class="dropdown language-dropdown d-none d-sm-block me-n1"
                  ></li>

                
                  <li class="dropdown user-dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle me-n1"
                      data-bs-toggle="dropdown"
                      ><div class="user-toggle">
                        <div class="user-avatar sm">
                          <em class="icon ni ni-user-alt"></em>
                        </div>
                        <div class="user-info d-none d-xl-block">
                          <div class="user-status user-status-active">
                            Administator
                          </div>
                          <div class="user-name dropdown-indicator">Admin</div>
                        </div>
                      </div></a
                    >
                    <div
                      class="dropdown-menu dropdown-menu-md dropdown-menu-end"
                    >
                      <div
                        class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block"
                      >
                        <div class="user-card">
                          <div class="user-avatar"><span>AB</span></div>
                          <div class="user-info">
                            <span class="lead-text">Admin</span
                            ><span class="sub-text"
                              >shafeequemk80@gmail.com</span
                            >
                          </div>
                        </div>
                      </div>
                     
                      <div class="dropdown-inner">
                        <ul class="link-list">
                          <li>
                            <a href="/admin/logout"
                              ><em class="icon ni ni-signout"></em
                              ><span>Sign out</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

       
