<header class="header">
  <div class="header-middle sticky-header">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="/home" class="logo">
          <img
            src="/static/assets/images/logo.png"
            alt="Molla Logo"
            width="105"
            height="25"
          />
        </a>

        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="megamenu-container active">
              <a href="/home" class="sf-with-ul">Home</a>
            </li>
            <li>
              <a href="/allproducts" class="sf-with-ul">Shop</a>
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">Whishlis</a>
            </li>
            <li>
              <a href="product.html" class="sf-with-ul">orders</a>
            </li>
            <li>
              <a href="#" class="sf-with-ul">More</a>

              <ul>
                <li><a href="/404">About</a></li>
                <li><a href="/coming-soon">Contact</a></li>
              </ul>
            </li>
          </ul>
          <!-- End .menu -->
        </nav>
        <!-- End .main-nav -->
      </div>
      <!-- End .header-left -->

      <div class="header-right">
        <div class="header-search">
          <a href="#" class="search-toggle" role="button" title="Search"
            ><i class="icon-search"></i
          ></a>
          <form action="#" method="get">
            <div class="header-search-wrapper">
              <label for="q" class="sr-only">Search</label>
              <input
                type="search"
                class="form-control"
                name="q"
                id="q"
                placeholder="Search in..."
                required
              />
            </div>
            <!-- End .header-search-wrapper -->
          </form>
        </div>
        <!-- End .header-search -->

        <div class="dropdown cart-dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
          >
            <i class="icon-user"></i>
            <span class="cart-count">2</span>
          </a>

          <% if(typeof  user!=="undefined"){%>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="user-card-wrap">
              <div class="user-card">
                <div class="logout-button">
                  <a href="/logout">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>LOGOUT</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div>

            <div class="dropdown-cart-action">
              <!-- Your shopping cart content goes here -->
            </div>
          </div>
          <!-- End .dropdown-menu -->

          <%}else{%>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="user-card-wrap">
              <div class="user-card">
                <div class="logout-button">
                  <a href="/logout">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>Login</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div>

            <div class="dropdown-cart-action">
              <!-- Your shopping cart content goes here -->
            </div>
          </div>
          <!-- End .dropdown-menu -->

          <%}%>
        </div>
        <!-- End .cart-dropdown -->

        <div class="dropdown cart-dropdown">
          <a
            href="/cart"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
          >
            <i class="icon-shopping-cart"></i>
            <span class="cart-count">2</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-action">
              <a href="/cart" class="btn btn-primary">View Cart</a>
              <a href="checkout.html" class="btn btn-outline-primary-2"
                ><span>Checkout</span><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .dropdown-cart-total -->
          </div>
          <!-- End .dropdown-menu -->
        </div>
        <!-- End .cart-dropdown -->
      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->
</header>
<!-- End .header -->-
