<header class="header">
  <div class="header-middle sticky-header">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="/home" class="logo">
          <img
            src="/static/assets/images/logo.png"
            alt="Molla Logo"
            width="105"
            height="25"
          />
        </a>

        <nav class="main-nav">
          <ul class="menu sf-arrow">
            <li class="megamenu-container active">
              <a href="/home" class="sf-with-ul"><i class="fa-light fa-house"></i> Home</a>
            </li>
            <li>
              <a href="/allproducts" class="sf-with-ul"><i class="fa-brands fa-shopify"></i> Shop</a>
            </li>
            <li>
              <a href="/whishlist" class="sf-with-ul"><i class="fa-sharp fa-regular fa-heart"></i> Whishlist</a>
            </li>
            <li>
              <a href="/allorders" class="sf-with-ul"><i class="fa-light fa-bag-shopping"></i> orders</a>
            </li>
            <li>
              <a href="#" class="sf-with-ul"><i class="fa-sharp fa-solid fa-cowbell-circle-plus"></i> More</a>

              <ul>
                <li><a href="/404">About</a></li>
                <li><a href="/coming-soon">Contact</a></li>
              </ul>
            </li>
          </ul>
          <!-- End .menu -->
        </nav>
        <!-- End .main-nav -->
      </div>
      <!-- End .header-left -->

      <div class="header-right ">
        <div class="header-search">
          <a href="#" class="search-toggle" role="button" title="Search"
            ><i class="icon-search"></i
          ></a>
          <form action="#" method="get">
            <div class="header-search-wrapper">
              <label for="q" class="sr-only">Search</label>
              <input
                type="search"
                class="form-control"
                name="q"
                id="q"
                placeholder="Search in..."
                required
              />
            </div>
            <!-- End .header-search-wrapper -->
          </form>
        </div>
        <!-- End .header-search -->

        <div class="dropdown cart-dropdown ">
          <a
            href="#"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
          >
          <% if(user){%>
            <span class="btn text-primary" ><i class="icon-user "></i>My Account</span>
           
          </a>

          
          <div class="dropdown-menu dropdown-menu-right">
            <div class="user-card-wrap">
              <div class="user-card">
                <ul class="user-actions ">
                  <li>
                    <a href="/profile" >
                      <i class="icon-user larger-icon"></i> My Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/allorders">
                      <i class="icon-shopping-cart larger-icon"></i> Orders
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/logout">
                       <i class="fa-regular fa-arrow-right-from-bracket"></i> Logout
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          
            <div class="dropdown-cart-action">
              <!-- Your shopping cart content goes here -->
            </div>
          </div>
          
          <!-- End .dropdown-menu -->

          <%}else{%>
            <a href="/login" ><span class="btn text-primary "><i class="fa-light fa-user mr-2"></i>Login</span></a>
          <!-- <div class="dropdown-menu dropdown-menu-right">
            <div class="user-card-wrap">
              <div class="user-card">
                <div class="logout-button">
                  <a href="/login">
                    <button type="submit" class="btn btn-outline-primary-2">
                      <span>Login</span>
                      <i class="icon-long-arrow-right"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div>

            <div class="dropdown-cart-action">
              
            </div>
          </div>
          End .dropdown-menu -->

          <%}%>
        </div>
        <!-- End .cart-dropdown -->

        
          <a
            href="/cart">
            <i class="icon-shopping-cart ml-lg-3"></i>
            <span class="cart-count"></span>
          </a>

      </div>
      <!-- End .header-right -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .header-middle -->
</header>
<!-- End .header -->-
