<footer class="footer footer-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/static/assets/images/logo-footer.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Farado Eyewear: Elevate your style with trendsetting frames. Explore a curated collection blending fashion and functionality for distinctive eyewear</p>

                        <div class="social-icons">
                            <a class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                            <a class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/allproducts">All Products</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Log in</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Our service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a >Online Payment</a></li>
                            <li><a >Money-back guarantee!</a></li>
                            <li><a >Returns</a></li>
                            <li><a >Shipping</a></li>
                            <li><a >Terms and conditions</a></li>
                            <li><a >Privacy Policy</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/login">Sign In</a></li>
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/whishlist">My Wishlist</a></li>
                            <li><a href="/allorders">Track My Order</a></li>
                            <li><a href="/wallet">Wallet</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2024 Farado Store. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="/static/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->