<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail Verified</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; /* Set a background color if needed */
        }
        .container {
            margin-top: 100px; /* Adjust margin-top to center the content */
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">Your E-mail has been verified</h1>
    </div>
</body>
</html>
