<%- include("../layouts/header.ejs") %>
<div class=" center-div d-flex justify-content-center align-items-center w-100">
       
  <div class="container col-lg-8 col-xl-6 col-sm-8 p-5 border rounded-4 border-light">
    <h1 class="text-center">Welcome, <%= user.firstname+ " " +user.lastname %></h1>

<%- include("../layouts/footer.ejs") %>
