<%- include("../layouts/header.ejs")%> <%-
include("../layouts/userNavbar.ejs")%>

<!-- End .header -->

<a href="/logout"><button class="btn btn-danger">Logout</button> </a>


<!--start .footer -->
<%- include("../layouts/userFooter.ejs")%> <%-
include("../layouts/footer.ejs")%>
