<%- include("../layouts/header.ejs")%>
<%- include("../layouts/userNavbar.ejs")%>
<!-- Include Lottie library -->

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
<div class="d-flex  justify-content-center align-items-center" >
  <div class="row border   col-10 col-lg-4   d-flex  justify-content-center border rounded align-items-center"  >
    <div class="d-flex  flex-column justify-content-end align-items-center"> 

      <h5 class="mt-5">Your Order Has Been Placed!</h5>

     
   
    

      <dotlottie-player src="/static/assets/alert/orderplaced.lottie" background="transparent" speed="1" style="width: 15rem; height: auto;" loop autoplay></dotlottie-player>
      <div class="btn-container fade-in top-transition">
        <a href="/allorders">
          <button class="btn btn-outline-primary-2">View All Orders</button>
        </a>
      </div>
      
      <p class="text-center mt-2 mb-3 fade-in top-transition">
        Thank you for your purchase. We will process your order shortly.
      </p>
      
    </div>
    
  </div>
</div>


<%- include("../layouts/userFooter2.ejs")%>
<%- include("../layouts/footer.ejs")%>